*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content{
  display: grid;
  grid-template-areas: "result content";
  justify-self:center;
  gap:30px;
  align-self: center;
  width: 1140px;
  height: min-content;
  margin:133px 30px;
}

.result{
  display: grid;
  grid-area:result;
  justify-content: flex-end;
  align-self: flex-end;
  width: 711px;
  height: min-content;
}

.search-form{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:40px;
  width: 100%;
  height:min-content;
}

.content__list-container{
  position: relative;
  width: 399px;
  height: 298px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.content__details{
  display: flex;
  flex-direction: column;
  grid-area: content;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.result__video-container{
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.content__video-card{
  display: grid;
  grid-template-columns: repeat(2, 194px);
}

.content__video-card-thumbnail{
  width: 100%;
  height: 100%;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap:23px;
}

.content__video-card-description-container{
  display: flex;
  flex-direction: column;
  flex-grow: unset; 
  gap:3px;
  overflow: hidden; /* Обрезаем всё за пределами блока */
  color:#fff;
  
  font-weight: 700;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap; /* Текст не переносится */
}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position:center;
}

.search-form__fieldset-title{
  margin-bottom: 5px;
  font-weight: 400;
  font-size:18px;
  line-height: 21.6px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.title{
  margin-bottom: 25px;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.content__accent{
  color:#545050;
}

.content__card-link{
  display: block;
  text-decoration: none;
}

.content__video-card-title{
  display: inline;
  color:#fff;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-decoration-thickness:2px;
  text-decoration-skip-ink: none;
  text-underline-offset:6px;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.content__video-card-description{  
  display: inline;
  color:#fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-align: left;
  text-decoration-thickness:1px;
  text-decoration-skip-ink: none;
  text-underline-offset:2px ;
  text-underline-position: from-font;
  line-clamp:1;
}

.search-form__checkbox-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:12px;
  height: 22px;
  margin: 0;  
}

.search-form__label-text{
  margin-right: 3px;
  margin-left: 5px;
}

.search-form__pseudo-checkbox{
  content: "";
  display: flex;
  align-items: center;
  align-self: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after{
  content: "";
  position:absolute;
  display: flex;
  justify-self: center;
  align-self: center;  
  width: 16px;
  height: 16px;
  margin: 1px;
  background-color: #fff;
}

.search-form__label{
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: fit-content;
}

fieldset{
  border: 0;
}

.search-form__textfield{
  width: 225px;
  border: 1px solid #fff;
  border-right: 0;
  border-left: 0;
  color:#FFF;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  background-color:transparent;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border:1px solid #fff;
  color:#fff;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  background-color: #1b1919;
}

.search-form__submit-button{
  justify-self: end;
  align-self: flex-end;
  width: 194px;
}

.more-button{
  width: 390px;
  margin: 30px 3px 2px 2px;
}

.button:active{
  background-color: #545050;
}

.search-form__textfield:active{
  border:1px solid #fff;  
}

.content__card-link_current{
  display: block;
  background-color: #545050;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline auto;
  cursor: pointer;
}

.search-form__textfield:hover{
  text-decoration: none;
}

.button:hover{
  text-decoration: underline auto;
  cursor: pointer;
}

.content__card-link:hover { 
  text-decoration: underline auto #FFF;
  text-decoration-thickness:auto;
}

.button:focus{
  outline: 1px solid #fff;
  outline-offset:1px;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #fff;
  outline-offset:1px;
}

.content__list-item{
  padding: 3px;
}

.content__card-link:focus{
  outline: 1px solid #fff;
  outline-offset:1px; 
}

.result__video-container{
  position: relative;
}

.content__card-link:active{
  background-color: #545050;
}